/* website-template v1.2 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #f5f5f5; /* neutral-100 */
  background: theme('colors.darkest-blue');
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: #f5f5f5;
  background: theme('colors.light-blue');
  font-family: Arial, Helvetica, sans-serif;
}

td, th {
  text-wrap: wrap;
  word-break: break-all;
  padding: 1rem;
}

div {
  background-color: theme('colors.dark-blue');
}

.main {
  padding: 2.5rem;
}

.header {
  background-color: theme('colors.darkest-blue');
}

table {
  background-color: theme('colors.light-blue');
  margin-left: auto;
  margin-right: auto;
}

button {
  text-wrap: nowrap;
}

a:hover {
  color: #a3a3a3 /* neutral-400 */
}

a:active { 
  color: #525252; /* neutral-600 */
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-decoration: underline;
  padding-bottom: 2.5rem;
}

p a {
  color: #fbbf24; /* amber-400 */
  text-decoration: underline;
}

p a:hover {
  color: #f59e0b; /* amber-500 */
}

p a:active { 
  color: #d97706; /* amber-600 */
}

